/* Component 1 */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.4rem;
    border-radius: 15px;
}

.nav h1 {
    display: inline;
    font-size: 2rem;
    color: black;
    -webkit-text-stroke: 1px red;
    margin: 10px;
}
